.base_ball{
	position:absolute;
	width:25px; 
	height:25px;
	animation:zhuan 1s linear forwards;
	border-radius: 50%;
	font-weight: 700;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background:radial-gradient(circle at 35% 25%,#9b98f5 0,#716ddd 20%,#4743d0 40%,#1f19bf 90%,#302bc4 95%,#4743d0 100%);
}

.qiu_1{
	left:0px;
	bottom:0px;
}

.qiu_2{
	left:25px;
	bottom:0px;
}

.qiu_3{
	left:50px;
	bottom:0px;
}

.qiu_4{
	left:75px;
	bottom:0px;
}

.qiu_5{
	left:100px;
	bottom:0px;
}

.qiu_6{
	left:200px;
	bottom:0px;
}

.qiu_7{ 
	left:225px;
	bottom:0px;
}
.qiu_8{ 
	left:250px;
	bottom:0px;
}

.qiu_9{ 
    left:275px;
	bottom:0px;
}

.qiu_10{ 
	left:300px;
	bottom:0px;
}

.qiu_11{ 
	left:10px;
	bottom:25px;
}

.qiu_12{ 
	left:35px;
	bottom:25px;
}

.qiu_13{ 
	left:60px;
	bottom:25px;
}

.qiu_14{ 
	left:85px;
	bottom:25px;
}

.qiu_15{ 
	left:110px;
	bottom:25px;
}

.qiu_16{ 
	left:135px;
	bottom:25px;
}

.qiu_17{ 
	left:160px;
	bottom:25px;
}

.qiu_18{ 
	left:185px;
	bottom:25px;
}

.qiu_19{ 
    left:210px;
	bottom:25px;
}

.qiu_20{ 
    left:235px;
	bottom:25px;
}

.qiu_21{ 
    left:260px;
	bottom:25px;
}

.qiu_22{ 
    left:285px;
	bottom:25px;
}

.qiu_23{ 
    left:0px;
	bottom:50px;
}

.qiu_24{ 
    left:25px;
	bottom:50px;
}

.qiu_25{ 
    left:50px;
	bottom:50px;
}

.qiu_26{ 
    left:75px;
	bottom:50px;
}

.qiu_27{ 
    left:100px;
	bottom:50px;
}

.qiu_28{ 
    left:125px;
	bottom:50px;
}

.qiu_29{ 
    left:150px;
	bottom:50px;
}

.qiu_30{ 
    left:175px;
	bottom:50px;
}

.qiu_31{ 
    left:200px;
	bottom:50px;
}

.qiu_32{ 
    left:225px;
	bottom:50px;
}

.qiu_33{  
    left:250px;
	bottom:50px;
}

.qiu_34{ 
    left:275px;
	bottom:50px;
}

.qiu_35{ 
    left:10px;
	bottom:75px;
}

.qiu_36{ 
    left:35px;
	bottom:75px;
}

.qiu_37{ 
    left:60px;
	bottom:75px;
}

.qiu_38{ 
    left:85px;
	bottom:75px;
}

.qiu_39{ 
    left:110px;
	bottom:75px;
}

.qiu_40{ 
    left:135px;
	bottom:75px;
}

.qiu_41{ 
    left:160px;
	bottom:75px;
}

.qiu_42{ 
    left:185px;
	bottom:75px;
}

.qiu_43{ 
    left:210px;
	bottom:75px;
}

.qiu_44{ 
    left:235px;
	bottom:75px;
}

.qiu_45{ 
    left:260px;
	bottom:75px;
}

.qiu_46{ 
    left:285px;
	bottom:75px;
}

.qiu_47{ 
	left:0px; 
    bottom:100px;
}

.qiu_48{ 
	left:25px; 
    bottom:100px;
}

.qiu_49{ 
	left:50px; 
    bottom:100px;
}

.qiu_50{ 
	left:75px; 
    bottom:100px;
}

.qiu_51{ 
	left:100px; 
    bottom:100px;
}

.qiu_52{ 
	left:125px; 
    bottom:100px;
}

.qiu_53{ 
	left:150px; 
    bottom:100px;
}

.qiu_54{ 
	left:175px; 
    bottom:100px;
}

.qiu_55{ 
	left:200px; 
    bottom:100px;
}

.qiu_56{ 
	left:225px; 
    bottom:100px;
}

.qiu_57{ 
	left:250px; 
    bottom:100px;
}

.qiu_58{ 
	left:275px; 
    bottom:100px;
}

.qiu_59{ 
	left:10px; 
    bottom:125px;
}

.qiu_60{ 
    left:35px; 
    bottom:125px;
}

.qiu_61{
    left:60px; 
    bottom:125px;
}

.qiu_62{ 
    left:85px; 
    bottom:125px;
}

.qiu_63{ 
    left:110px; 
    bottom:125px;
}

.qiu_64{ 
    left:135px; 
    bottom:125px;
}

.qiu_65{ 
    left:160px; 
    bottom:125px;
}

.qiu_66{ 
    left:185px; 
    bottom:125px;
}

.qiu_67{ 
    left:210px; 
    bottom:125px;
}

.qiu_68{ 
    left:235px; 
    bottom:125px;
}

.qiu_69{ 
    left:260px; 
    bottom:125px;
}

.qiu_70{ 
    left:285px; 
    bottom:125px;
}

.qiu_71{ 
	left:20px; 
    bottom:150px;
}

.qiu_72{ 
	left:45px; 
    bottom:150px;
}

.qiu_73{ 
	left:70px; 
    bottom:150px;
}

.qiu_74{ 
	left:95px; 
    bottom:150px;
}

.qiu_75{ 
	left:120px; 
    bottom:150px;
}

.qiu_76{ 
	left:145px; 
    bottom:150px;
}

.qiu_77{ 
	left:170px; 
    bottom:150px;
}

.qiu_78{  
    left:195px; 
    bottom:150px;
}

.qiu_79{ 
    left:220px; 
    bottom:150px;
}

.qiu_80{ 
    left:245px; 
    bottom:150px;
}

@keyframes zhuan{
	0%{ transform: rotate(0) }
	100%{transform: rotate(360deg) }
}


@media (max-width: 767px) {
    .base_ball{
        position:absolute;
        width:15px; 
        height:15px;
        animation:zhuan 1s linear forwards;
        border-radius: 50%;
        font-weight: 500;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background:radial-gradient(circle at 35% 25%,#9b98f5 0,#716ddd 20%,#4743d0 40%,#1f19bf 90%,#302bc4 95%,#4743d0 100%);
    }
	
.qiu_1{ 
    left:0px; 
    bottom:0px;
}

.qiu_2{ 
	left:15px; 
    bottom:0px;
}

.qiu_3{ 
	left:30px; 
    bottom:0px;
}

.qiu_4{
	left:45px; 
    bottom:0px;
}

.qiu_5{ 
	left:60px; 
    bottom:0px;
}

.qiu_6{ 
	left:125px; 
    bottom:0px;
}

.qiu_7{  
	left:140px; 
    bottom:0px;
}

.qiu_8{  
	left:155px; 
    bottom:0px;
}

.qiu_9{
    left:170px; 
    bottom:0px;
}

.qiu_10{  
	left:185px;
    bottom:0px;
}

.qiu_11{ 
	left:10px;
    bottom:15px;
}

.qiu_12{ 
	left:25px;
    bottom:15px;
}

.qiu_13{  
	left:40px;
    bottom:15px;
}

.qiu_14{  
	left:55px;
    bottom:15px;
}

.qiu_15{ 
	left:70px;
    bottom:15px;
}

.qiu_16{ 
	left:85px;
    bottom:15px;
}

.qiu_17{  
	left:100px;
    bottom:15px;
}

.qiu_18{  
	left:115px;
    bottom:15px;
}

.qiu_19{ 
	left:130px;
    bottom:15px;
}

.qiu_20{ 
	left:145px;
    bottom:15px;
}

.qiu_21{ 
	left:160px;
    bottom:15px;
}

.qiu_22{ 
	left:175px;
    bottom:15px;
}

.qiu_23{ 
	left:0px;
    bottom:30px;
}

.qiu_24{ 
	left:15px;
    bottom:30px;
}

.qiu_25{ 
	left:30px;
    bottom:30px;
}

.qiu_26{ 
	left:45px;
    bottom:30px;
}

.qiu_27{ 
	left:60px;
    bottom:30px;
}

.qiu_28{ 
	left:75px;
    bottom:30px;
}

.qiu_29{ 
	left:90px;
    bottom:30px;
}

.qiu_30{ 
	left:105px;
    bottom:30px;
}

.qiu_31{ 
	left:120px;
    bottom:30px;
}

.qiu_32{ 
	left:135px;
    bottom:30px;
}

.qiu_33{ 
	left:150px;
    bottom:30px;
}

.qiu_34{ 
	left:165px;
    bottom:30px;
}

.qiu_35{ 
	left:180px;
    bottom:30px;
}

.qiu_36{ 
	left:10px;
    bottom:45px;
}

.qiu_37{ 
	left:25px;
    bottom:45px;
}

.qiu_38{ 
	left:40px;
    bottom:45px;
}

.qiu_39{ 
	left:55px;
    bottom:45px;
}

.qiu_40{ 
	left:70px;
    bottom:45px;
}

.qiu_41{ 
	left:85px;
    bottom:45px;
}

.qiu_42{ 
	left:100px;
    bottom:45px;
}

.qiu_43{ 
	left:115px;
    bottom:45px;
}

.qiu_44{ 
	left:130px;
    bottom:45px;
}

.qiu_45{ 
	left:145px;
    bottom:45px;
}

.qiu_46{ 
	left:160px;
    bottom:45px;
}

.qiu_47{
	left:175px;
    bottom:45px;
}

.qiu_48{ 
	left:0px;
    bottom:60px;
}

.qiu_49{ 
	left:15px;
    bottom:60px;
}

.qiu_50{ 
	left:30px;
    bottom:60px;
}

.qiu_51{ 
	left:45px;
    bottom:60px;
}

.qiu_52{ 
	left:60px;
    bottom:60px;
}

.qiu_53{ 
	left:75px;
    bottom:60px;
}

.qiu_54{ 
	left:90px;
    bottom:60px;
}

.qiu_55{ 
	left:105px;
    bottom:60px;
}

.qiu_56{ 
	left:120px;
    bottom:60px;
}

.qiu_57{ 
	left:135px;
    bottom:60px;
}

.qiu_58{ 
	left:150px;
    bottom:60px;
}

.qiu_59{ 
	left:165px;
    bottom:60px;
}

.qiu_60{ 
	left:180px;
    bottom:60px;
}

.qiu_61{
	left:10px;
    bottom:75px;
}

.qiu_62{ 
	left:25px;
    bottom:75px;
}

.qiu_63{ 
	left:40px;
    bottom:75px;
}

.qiu_64{ 
	left:55px;
    bottom:75px;
}

.qiu_65{ 
	left:70px;
    bottom:75px;
}

.qiu_66{ 
	left:85px;
    bottom:75px;
}

.qiu_67{ 
	left:100px;
    bottom:75px;
}

.qiu_68{ 
	left:115px;
    bottom:75px;
}

.qiu_69{ 
	left:130px;
    bottom:75px;
}

.qiu_70{ 
	left:145px;
    bottom:75px;
}

.qiu_71{ 
	left:160px;
    bottom:75px;
}

.qiu_72{ 
	left:175px;
    bottom:75px;
}

.qiu_73{ 
	left:20px;
    bottom:90px;
}

.qiu_74{ 
	left:35px;
    bottom:90px;
}

.qiu_75{ 
	left:50px;
    bottom:90px;
}

.qiu_76{ 
	left:65px;
    bottom:90px;
}

.qiu_77{ 
	left:80px;
    bottom:90px;
}

.qiu_78{ 
	left:95px;
    bottom:90px;
}

.qiu_79{ 
	left:110px;
    bottom:90px;
}

.qiu_80{ 
	left:125px;
    bottom:90px;
}

}